.mx_RoomAppStore {
    padding: 10px;
    position: relative;
    height: calc(100% - 20px);

    // display: flex;
    // justify-content: center;
    // align-items: center;
    // &_status {
    //     display: flex;
    //     flex-direction: column;
    //     align-items: center;
    //     img {
    //         width: 40%;
    //     }
    //     span {
    //         font-size: $font-17px;
    //     }
    // }
    .mx_RoomAppStore_header {
        margin-top: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        .mx_RoomAppStore_title {
            border-radius: 9999px;
            display: flex;
            align-items: center;
            .mx_RoomAppStore_icon {
                width: 15px;
                height: 15px;
                mask-image: url("$(res)/img/shopping-cart.svg");
                mask-position: center;
                mask-size: cover;
                background-color: $font-grey-color;
                margin-right: 10px;
            }
            .mx_RoomAppStore_name {
                font-size: $font-14px;
            }
        }
    }
    .mx_RoomAppStore_MarketPlace_Switch_Button_groups {
        margin-top: 40px;
        display: flex;
        justify-content: space-around;
        align-items: center;
        .mx_RoomAppStore_MarketPlace_Switch_Button {
            cursor: pointer;
            min-width: 50px;
            text-align: center;
            font-size: 14px;
            display: flex;
            flex-direction: column;
            align-items: center;
            .line {
                margin-top: 8px;
                width: 40px;
                height: 2px;
                border-radius: 9999px;
                background-color: transparent;
                &.active {
                    background-color: $font-purple-color;
                }
            }
        }
    }
    .mx_RoomAppStore_Categories {
        margin: 20px 10px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-radius: 9999px;
        background-color: rgb(236, 234, 234);
        .mx_RoomAppStore_Category_Button {
            width: 50%;
            height: 7px;
            border-radius: 9999px;
            cursor: pointer;
            &.active {
                background-color: rgb(195, 195, 197);
            }
        }
    }
    .mx_RoomAppStore_CategoryName {
        color: $font-grey-color;
        font-size: $font-13px;
    }
    .mx_RoomAppStore_Bots_MarketPlace {
        margin-top: 15px;
        overflow-y: auto;
        .mx_RoomAppStore_Bots_MarketPlace_items {
            margin-top: 10px;
            .mx_RoomAppStore_bot {
                display: flex;
                align-items: center;
                margin-bottom: 20px;
                .mx_RoomAppStore_bot_avatar {
                    width: 80px;
                    height: 80px;
                    position: relative;
                    img {
                        width: 80px;
                        height: 80px;
                        border-radius: 10px;
                    }
                    &.selected {
                        &::before {
                            content: '';
                            position: absolute;
                            width: 20px;
                            height: 20px;
                            bottom: 5px;
                            right: 5px;
                            background: url("$(res)/img/checked.png");
                            background-position: center;
                            background-size: cover;
                            background-repeat: no-repeat;
                            z-index: 1;
                        }
                    }
                }
                .mx_RoomAppStore_bot_detail {
                    margin-left: 10px;
                    .mx_RoomAppStore_bot_name {
                        font-size: 13px;
                        font-family: FontBold;
                        color: $font-dark-color;
                        height: 20px;
                        font-family: FontRegular;
                        color: $font-grey-color;
                        display: -webkit-box;
                        -webkit-box-orient: vertical;
                        -moz-box-orient: vertical;
                        -ms-box-orient: vertical;
                        box-orient: vertical;
                        -webkit-line-clamp: 1;
                        -moz-line-clamp: 1;
                        -ms-line-clamp: 1;
                        line-clamp: 1;
                        overflow: hidden;
                    }
                    .mx_RoomAppStore_bot_description {
                        font-size: 13px;
                        height: 20px;
                        font-family: FontRegular;
                        color: $font-grey-color;
                        display: -webkit-box;
                        -webkit-box-orient: vertical;
                        -moz-box-orient: vertical;
                        -ms-box-orient: vertical;
                        box-orient: vertical;
                        -webkit-line-clamp: 1;
                        -moz-line-clamp: 1;
                        -ms-line-clamp: 1;
                        line-clamp: 1;
                        overflow: hidden;
                        margin-top: 5px;
                    }
                    .mx_RoomAppStore_bot_priceSection {
                        margin-top: 5px;
                        display: flex;
                        align-items: center;
                        .mx_RoomAppStore_bot_price {
                            display: flex;
                            align-items: center;
                            padding: 5px 10px;
                            border-radius: 9999px;
                            border: 1px solid $border-grey-color;
                            img {
                                width: 15px;
                                height: 15px;
                            }
                            span {
                                font-size: 13px;
                                font-family: FontRegular;
                                color: $font-purple-color;
                                margin-left: 3px;
                            }
                            &.purchase_button {
                                background-color: #09d8a2;
                                font-family: FontBold;
                                color: #fff;
                                margin-left: 0.25em;
                                border: none;
                            }
                            &.bot_purchased {
                                margin-left: 0.25em;
                            }
                        }
                        .mx_RoomAppStore_bot_during {
                            margin-left: 10px;
                            font-size: 12px;
                            height: 18px;
                            font-family: FontRegular;
                            color: $font-grey-color;
                            display: -webkit-box;
                            -webkit-box-orient: vertical;
                            -moz-box-orient: vertical;
                            -ms-box-orient: vertical;
                            box-orient: vertical;
                            -webkit-line-clamp: 1;
                            -moz-line-clamp: 1;
                            -ms-line-clamp: 1;
                            line-clamp: 1;
                            overflow: hidden;
                        }
                    }
                }
                
            }
        }
    }
    .mx_RoomAppStore_Backgrounds_MarketPlace {
        margin-top: 15px;
        .mx_RoomAppStore_Backgrounds_MarketPlace_items {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            .mx_RoomAppStore_Backgrounds_MarketPlace_item {
                margin-bottom: 20px;
                display: flex;
                flex-direction: column;
                align-items: center;
                .mx_RoomAppStore_Backgrounds_MarketPlace_item_img, .mx_RoomAppStore_Backgrounds_MarketPlace_item_lottie {
                    cursor: pointer;
                    width: 100px;
                    height: 100px;
                    border-radius: 15px;
                    border: 1px solid $border-grey-color;
                    overflow: hidden;
                    position: relative;
                    transition: all 0.2s;
                    background-color: $right-panel-bg;
                    background-position: center;
                    background-size: cover;
                    background-repeat: no-repeat;
                    transition: all 0.5s ease-in-out;                    
                    &:hover {
                        border-color: $font-grey-color;
                        transition: all 0.5s ease-in-out;
                        &::after {
                            transform: scale(1.2);
                        }
                    }                    
                }
                .mx_RoomAppStore_Backgrounds_MarketPlace_item_img {
                    &::after {
                        content: "";
                        position: absolute;
                        top: 0;
                        right: 0;
                        bottom: 0;
                        left: 0;
                        background: inherit;
                        background-size: cover;
                        transform-origin: center;
                        transition: transform .4s ease-in-out;
                    }
                }
                .mx_RoomAppStore_Backgrounds_MarketPlace_item_detail {
                    margin-top: 5px;
                    .mx_RoomAppStore_Backgrounds_MarketPlace_item_status {
                        font-size: $font-13px;
                        font-family: FontRegular;
                        color: $font-grey-color;
                        cursor: pointer;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        img {
                            width: 17px;
                            height: 17px;
                            margin-right: 5px;
                        }
                    }
                }
                &.selected {
                    .mx_RoomAppStore_Backgrounds_MarketPlace_item_img, .mx_RoomAppStore_Backgrounds_MarketPlace_item_lottie {
                        &::before {
                            content: '';
                            position: absolute;
                            width: 20px;
                            height: 20px;
                            bottom: 5px;
                            right: 5px;
                            background: url("$(res)/img/checked.png");
                            background-position: center;
                            background-size: cover;
                            background-repeat: no-repeat;
                            z-index: 1;
                        }
                    }
                }
            }
        }
    }

}