.live-stream-view {
  font-family: 'Inter';

  position: relative;
  min-height: 100%;
  min-width: 100%;
  margin: 0;
  padding: 0;

  animation: fadein 1s;

  &.bright {
    background-color: #f0edff !important;
  }

  &.grey {
    background-color: rgba(26, 26, 26, 1.0);
  }

  &.purple {
    background-color: rgba(66, 52, 153, 1.0);
  }

  .schedule {
    .display-3 {
      color: white;
    }

    .display-6 {
      color: whitesmoke;
    }

    .btn-success {
      min-width: 10rem;
      padding: 1.25rem;
      border-radius: 1.25rem;
      font-family: 'Inter';
      font-size: 2rem;
      font-weight: 600;
      background-color: #0dbd8b !important;
      border-color: #0dbd8b !important;
      color: white;

      &:hover {
        background-color: #0dbd8bd3 !important;
        border-color: #0dbd8bd3 !important;
      }
    }
  }

  .live header {
    top: 0;
    width: 100%;
    height: 80px;
    position: absolute;

    .badge {
      font-family: Inter;
      margin: 27px 0 27px 27px;
      font-size: 12px;
      padding-top: 7px;
      padding-bottom: 7px;
      border-radius: 15px;
      background: rgb(57 57 57);
    }

    .btn {
      background: #393939;
      border-color: #393939;
      font-weight: bold;
      margin-left: 27px;
      border-radius: 27px;
      font-size: 12px;
    }

    .dropdown-menu {
      top: 32px;
      margin-left: 27px;
    }

    .dropdown-item {
      width: auto;
      font-size: 14px;
      color: #212529;
    }

    .dropdown-item:focus,
    .dropdown-item:hover {
      background-color: #e9ecef;
    }

    .dropdown-item.active,
    .dropdown-item:active {
      color: #fff;
      text-decoration: none;
      background-color: #09d8a2;
    }
  }

  .live section {
    margin-top: 70px;
    margin-bottom: 70px;
    margin-left: 30px;
    margin-right: 30px;

    &.participant-container {
      overflow: scroll;
      overflow-x: hidden;
      display: grid;
      grid-template-rows: auto min-content;
      min-height: 0;
    }

    .participant {
      background: rgba(57, 57, 57, 1.0);
      border-radius: 10px;
      margin: 10px 0 10px 0;

      video {
        border-radius: 10px;
      }

      .card-container {
        display: flex;
        flex-direction: column;        
      }

      .card-overlay {
        width: auto;
        height: auto;
        color: white;
        position: absolute;
        bottom: -1px;
        font-size: 2rem;
        padding: 1rem;        

        div {
          span {
            margin-left: 1.25rem;
            font-weight: 700;
          }
        }
      }      
    }

    .participant-placeholder {
      .card {
        height: inherit;
        background: inherit;
        font-weight: 700;
      }

      .card-text svg {
        margin-right: 5px;
      }

      .box-container {
        display: flex;
      }

      .box {
        flex: 1;
        display: flex;
        justify-content: center;
        //align-items: center;
        height: 100%;
      }

      .box:first-child>span {
        margin-right: auto;
      }

      .box:last-child>span {
        margin-left: auto;
      }

      .box img {
        &.isSpeaking {
          border-color: #09d8a2 !important;
        }
      }

      .nft_avatar {
        img {
          clip-path: polygon(98.66025% 45%, 99.39693% 46.5798%, 99.84808% 48.26352%, 100% 50%, 99.84808% 51.73648%, 99.39693% 53.4202%, 98.66025% 55%, 78.66025% 89.64102%, 77.66044% 91.06889%, 76.42788% 92.30146%, 75% 93.30127%, 73.4202% 94.03794%, 71.73648% 94.48909%, 70% 94.64102%, 30% 94.64102%, 28.26352% 94.48909%, 26.5798% 94.03794%, 25% 93.30127%, 23.57212% 92.30146%, 22.33956% 91.06889%, 21.33975% 89.64102%, 1.33975% 55%, 0.60307% 53.4202%, 0.15192% 51.73648%, 0% 50%, 0.15192% 48.26352%, 0.60307% 46.5798%, 1.33975% 45%, 21.33975% 10.35898%, 22.33956% 8.93111%, 23.57212% 7.69854%, 25% 6.69873%, 26.5798% 5.96206%, 28.26352% 5.51091%, 30% 5.35898%, 70% 5.35898%, 71.73648% 5.51091%, 73.4202% 5.96206%, 75% 6.69873%, 76.42788% 7.69854%, 77.66044% 8.93111%, 78.66025% 10.35898%);
        }
      }

      .box {
        &.avatar {
          div {
            display: grid;
            align-content: center;
            align-items: center;
            justify-items: center; 
            span {
              color: white;
              font-size: 2rem;
              text-align: center;    
              margin-top: 1rem;          
            }
          }
        }
      }
    }
  }

  .live footer {
    height: 100px;
    display: grid;
    align-items: center;
    justify-items: center;

    nav {
      height: 80px;
      margin-top: 10px;
      margin-bottom: 10px;
      display: inline-block;
      text-align: center;

      .btn-floating {
        position: relative;
        z-index: 1;
        display: inline-block;
        padding: 0;
        margin: 10px;
        overflow: hidden;
        vertical-align: middle;
        cursor: pointer;
        border-radius: 50%;
        -webkit-box-shadow: 0 5px 11px 0 rgb(0 0 0 / 18%), 0 4px 15px 0 rgb(0 0 0 / 15%);
        box-shadow: 0 5px 11px 0 rgb(0 0 0 / 18%), 0 4px 15px 0 rgb(0 0 0 / 15%);
        -webkit-transition: all .2s ease-in-out;
        transition: all .2s ease-in-out;
        width: 47px;
        height: 47px;

        &.disabled {
          opacity: 0.1;
          cursor: not-allowed;
        }
      }

      svg {
        color: white;
        width: 16px;
        height: inherit;
      }

      .btn-floating.btn-lg {
        width: 61.1px;
        height: 61.1px;
      }

      .btn-secondary {
        background-color: #393939 !important;
        border-color: #393939 !important;
      }

      .btn-success {
        background-color: #09d8a2 !important;
        border-color: #09d8a2 !important;
      }

      .btn-primary {
        background-color: #4532a0 !important;
        border-color: #4532a0 !important;
      }
    }
  }
}

@keyframes fadein {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.gridStage {
  display: grid;
  gap: 8px;
  overflow-y: scroll;
  overflow-x: hidden;
  height: 100%;
  align-items: center;
  justify-items: center;

  .dropdown-menu {
    position: absolute;
    z-index: 1000;
    display: none;
    min-width: 10rem;
    padding: 0.5rem 0;
    margin: 0;
    font-size: 1.25rem;
    color: #212529;
    text-align: left;
    list-style: none;
    background-clip: padding-box;

    height: auto;
    width: auto;
    background: linear-gradient(180deg, white, white);
    border: 1px solid black;
    border-radius: 10px;
    border-top-right-radius: 0;
    border-bottom-left-radius: 0;
    top: auto;
    bottom: 0;
    right: 0;
    left: auto;

    &.show {
      display: block !important;
    }
  }

  .dropdown-item {
    display: block;
    width: auto;
    padding: 0.25rem 1rem;
    clear: both;
    font-weight: 600;
    color: #212529;
    text-align: inherit;
    text-decoration: none;
    white-space: nowrap;
    background-color: transparent;
    border: 0;
  }

  .dropdown-item:first-child {
    border-top-left-radius: 5px;
  }

  .dropdown-item:last-child {
    border-bottom-right-radius: 5px;
  }

  .dropdown-item:hover {
    background-color: #dcdcdc;
  }
}

.grid1x1 {
  grid-template-columns: auto;
  grid-template-rows: auto;
}

.grid2x1 {
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto;
}

.grid2x2 {
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
}

.grid3x3 {
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);

  .participant-displayname {
    font-size: 1.25rem !important;
  }
}

.grid4x4 {
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
}

.grid5x5 {
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr);
}

.live-stream-view .live header .badge {
  background: #e5e6f8 !important;
  color: #45474a !important;
  padding: 2px 10px !important;
}

.live-stream-view .schedule .display-6 {
  color: #45474a !important;
}

.live-stream-view .live header .btn {
  background: white !important;
  color: #45474a !important;
  border-color: transparent !important;
}

.live-stream-view .live footer nav .btn-secondary {
  background-color: white !important;
}

.live-stream-view .live footer nav .btn-secondary svg {
  color: #45474a !important;
}

.live-stream-view .live section {
  margin: 70px 0 !important;
}

.live-stream-view .live section .participant {
  border-radius: 0 !important;
  background: white !important;
  margin: 0 !important;
}

.gridStage, .live-stream-view .live section.participant-container {
  overflow: hidden;
  margin: 0 !important;
}

.live-stream-view .live section .participant-placeholder .card {
  border: none !important;
  border-radius: 0 !important;
  border-bottom: 1px solid #dadfe5 !important;
}

.live-stream-view .live section .participant-placeholder .box.avatar div span {
  color: #45474a !important;
}

.live-stream-view .live section .participant video {
  border-radius: 0 !important;
}

.live-stream-view .live footer nav .btn-floating {
  box-shadow: 0 5px 11px 0 rgb(0 0 0 / 7%), 0 4px 15px 0 rgb(0 0 0 / 7%) !important;
}

.live-stream-view .live header .dropdown-menu {
  border-color: #dadfe5;
}

.live-stream-view .live header {
  position: relative !important
}