.mx_Social_login {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: not-allowed;
    opacity: 0.3;
    &_content {
        font-size: $font-13px
    }
    &_buttons {
        display: flex;
        align-items: center;
    }
    &_button {
        border-radius: 9999px;
        display: flex;
        justify-content: center;
        align-items: center;      
        width: 25px;
        height: 25px; 
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        &.facebook {
            background-image: url('$(res)/img/facebook.png');
        }
        &.twitter {
            background-image: url('$(res)/img/twitter.png');
        }
        &.discord {
            background-image: url('$(res)/img/discord.png');
        }
    }     
}