.mx_WalletSignupButtonGroup {
    .mx_WalletConnectButton {
        display: none;
    }
    &_body {
        margin-bottom: 30px;
    }
    &_button { 
        margin: 15px 0px;
        height: 45px;
        border: none;
        border-radius: 9999px !important;
        box-shadow: none !important;
        color: $font-dark-color !important;
        transition: all 0.5s;
        background-color: $border-grey-color;
        padding: 1px;
        &_info {
            background-color: white;
            border-radius: 9999px;
            height: 100%;
            display: flex;
            align-items: center;
            padding: 0 20px;
        }
        &_label {
            margin-left: 15px;
            font-size: $font-15px;
            font-family: FontBold;
            text-transform: capitalize !important;
        }                    
        &_logo {
            width: 20px;
            height: 20px;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            &.solana {
                background-image: url("$(res)/img/solana.png");
            }
            &.ethereum {
                background-image: url("$(res)/img/ethereum.png");
            }
        }              
        &.disabled {
            .mx_WalletSignupButtonGroup_info {
                cursor: not-allowed;
                opacity: 0.3;
                &:hover {
                    color: $font-dark-color !important;
                    border-color: $font-grey-color !important;
                }
            }
        }
        &:hover:not(.disabled) {
            transition: all 0.5s;
            color: $font-purple-color !important;
            background-image: linear-gradient(90deg,#3e45a0,#0068bb,#0086c6,#00a2c6,#00bbc1,#00c4af,#35cb92,#6bcf6e,#93c649,#b6ba28,#d7aa11,#f5961d);
            background-color: none;
        }
    }
}