.mx_PriceBot {
    .mx_EventTile_line {
        .mx_MTextBody {
            .mx_EventTile_body {
                background-color: transparent;
                border-radius: 5px;
                a {
                    text-decoration: none !important;
                    cursor: pointer !important;
                    color: rgb(210, 74, 214) !important;
                    font-size: 15px;
                }
            }
        }
    }
    .mx_EventTile_avatar {
        top: -1px !important;
    }
    .mx_SenderProfile {
        .mx_SenderProfile_displayName {
            color: $bot-name-color !important
        }
    }
}