.mx_TradesTransactionsDialog {
    .mx_TradesTransactionsDialog_Header {
        font-size: 20px;
        color: $font-dark-white-color;
        font-family: FontBold;
    }
    .mx_TradesTransactionsDialog_body {
        margin-top: 20px;
        .mx_TradesTransactionsDialog_transaction {
            .mx_TradesTransactionsDialog_transaction_Date {
                color: $font-dark-white-color;
                font-family: FontRegular;
            }
            .mx_TradesTransactionsDialog_transaction_Room {
                margin-top: 5px;
                font-size: 12px;
                color: $font-grey-color;
                font-family: FontRegular;
            }
            .mx_TradesTransactionsDialog_transaction_MainWrap {
                margin-top: 20px;
                display: flex;
                margin-bottom: 80px;
                .mx_TradesTransactionsDialog_transaction_panel {                    
                    .mx_TradesTransactionsDialog_UserAvatar {
                        display: flex;
                        align-items: center;
                        .mx_TradesTransactionsDialog_UserName {
                            font-size: 13px;
                            color: $font-dark-white-color;
                            font-family: FontBold;
                            margin-left: 8px;
                        }
                    }
                    .mx_TradesTransactionsDialog_Transaction_items {
                        margin: 15px 0;
                        display: flex;
                        align-items: center;
                        flex-wrap: wrap;
                        width: 180px;
                        .mx_TradesTransactionsDialog_Transaction_item {
                            width: 45px;
                            height: 45px;
                            border-radius: 10px; /*1*/
                            position: relative;
                            margin: 5px;
                            &.NFT {                               
                                border: 2px solid transparent; /*2*/
                                background:linear-gradient(90deg, #9244d9, #05dba3) border-box; /*3*/
                                -webkit-mask-composite: destination-out; /*5'*/
                                mask-composite: exclude; /*5*/
                                img {
                                    width: 100%;
                                    height: 100%;
                                    border-radius: 8px;
                                }
                                .mx_TradesTransactionsDialog_NFT_Verify_Badge {
                                    position: absolute;
                                    bottom: -6px;
                                    right: -6px;
                                    width: 20px;
                                    height: 20px;
                                    border-radius: 50%;
                                    background: url("$(res)/img/verify.png");
                                    background-position: center;
                                    background-size: cover;
                                    background-repeat: no-repeat;
                                }
                            }
                            &.currency {
                                border: 1px solid $border-grey-color;
                                padding: 1px;
                                img {
                                    width: 50%;
                                    position: absolute;
                                    left: 50%;
                                    top: 50%;
                                    transform: translate(-50%, -50%);
                                }
                            }
                        }
                    }
                }
                .mx_TradesTransactionsDialog_TradeIcon {
                    width: 30px;
                    position: relative;
                    &::before {
                        mask-image: url("$(res)/img/swap.svg");
                        content: '';
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                        width: 30px;
                        height: 35px;
                        mask-position: center;
                        mask-size: cover;
                        mask-repeat: no-repeat;
                        background-color: $font-grey-white-color;
                    }
                    margin: 0 30px;
                }
            }
        }
    }
}