.mx_NFTSCompactWrapper {
    margin-top: 20px;
    &_header {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &_title {
        font-size: 14px;
        font-family: FontBold;
        color: $font-dark-white-color;
    }
    &_view {
        font-size: 13px;
        font-family: FontRegular;
        color: $font-grey-white-color;
    }
    &_body {
        margin-top: 20px;
    }
    &_nftWrap {
        border-radius: 10px;
        border: 1px solid $border-grey-color;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        padding: 20px;
    }
    &_nft {
        height: 150px;
        width: 100px;
        border-radius: 10px;
        overflow: hidden;
        box-sizing: border-box !important;
        padding: 5px;
        background-color: $border-grey-color;
        display: flex;
        justify-content: center;
        align-items: center;
        &_img {
            box-sizing: border-box !important;
            max-width: 100%;
            max-height: 100%;
            border-radius: 5px;
        }
    }
    &_empty {
        box-sizing: border-box !important;
        background-color: $border-grey-color;
        border-radius: 10px;
        &_icon {
            width: 150px;
        }
    }
}