.mx_NftsAndTokens {
    display: flex;
    flex-direction: column;
    &_container {
        flex: 1;
        padding-top: 100px;
        background-color: white;
        border-radius: 20px 0 0 0;
    }
    &_header {
        margin-bottom: 50px;
        h2 {
            font-size: $font-20px;
            color: $font-dark-white-color;
            font-family: FontBold;
            text-align: center;
        }
    }
    &_body {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    &_switch {
        border-radius: 9999px;
        height: 50px;
        width: 200px;
        display: flex;
        align-items: center;
        justify-content: space-around;
        &_button {
            cursor: pointer;
            display: flex;
            justify-content: center;
            align-items: center;
            font-family: FontBold;
            color: $font-dark-white-color;
            font-size: $font-13px;
            padding: 10px 5px;
            transition: all 0.5s;
            border-bottom: 2px solid white;
            &.active {
                border-bottom-color: $font-purple-color;
            }
            &:hover {
                border-bottom-color: $font-purple-color;
            }
        }
    }
    &_table {
        max-width: 1600px;
        margin: 50px;
        font-size: $font-12px;
        font-family: FontRegular;
        .react-bootstrap-table {
            .table {
                border-top-left-radius: 10px;
                border-top-right-radius: 10px;
                overflow: hidden;
                thead {
                    // tr {
                    //     background: linear-gradient(80.69deg, #09D8A2 0%, #0FC6A1 18.41%, #1F9AA1 50.86%, #3953A0 79.43%, #4630A0 93%);
                    // }
                    th {
                        background: $font-purple-color;
                        color: white;
                        height: 50px;
                    }                
                }
                tbody, td, th, tr, table {
                    border: none !important;                    
                }  
                tbody {
                    tr {
                        height: 70px;
                    }
                }    
                td, th {
                    vertical-align: middle;
                    padding: 0 10px;                   
                }   
                th {
                    &.id_field_header, &.vote_field_header {
                        width: 70px;
                        padding: 0;
                        background: white !important;
                        div {
                            width: 50px;
                            height: 50px;
                            border-radius: 50%;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            background-color: $font-purple-color;
                            margin-right: 20px;
                        }
                    }
                    &.namd_field_header {
                        border-top-left-radius: 9999px;
                        border-bottom-left-radius: 9999px;
                        width: 15%;
                        padding-left: 50px;
                    }
                    &.group_field_header {
                        width: 15%;
                    }
                    &.price_field_header {
                        text-align: center;
                    }
                    &.holders_field_header {
                        text-align: center;
                    }
                    &.marketcap_field_header {
                        width: 10%;
                        text-align: center;
                    }
                    &.pairedToken_field_header {
                        width: 10%;
                    }
                    &.twitter_field_header {
                        text-align: center;
                    }
                    &.website_field_header {
                        text-align: center;
                        border-top-right-radius: 9999px;
                        border-bottom-right-radius: 9999px;
                        padding-right: 50px;
                        width: 50px;
                    }                    
                }  
                td {
                    .id_field {
                        width: 30px;
                        height: 30px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        border-radius: 50%;
                        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
                    }
                    .token_name_field {
                        display: flex;
                        justify-content: flex-start;
                        align-items: center;
                        .image {
                            width: 32px;
                            height: 32px;
                            background-position: center;
                            background-size: cover;
                            background-repeat: no-repeat;
                            border-radius: 50%;
                            box-shadow: 0px 0px 10px rgb(0 0 0 / 15%);
                        }
                        .content {
                            font-size: $font-13px;
                            font-family: FontBold;
                            margin-left: 10px;
                            text-overflow: ellipsis;
                            white-space: nowrap;
                            overflow: hidden;
                            flex-shrink: 1;
                        }
                    }
                    .group_field {
                        display: flex;
                        justify-content: flex-start;
                        align-items: center;
                        .content {
                            color: $green-color;
                            text-overflow: ellipsis;
                            white-space: nowrap;
                            overflow: hidden;
                            margin-right: 5px;
                            cursor: pointer;
                            &:hover {
                                color: $font-purple-color;
                            }
                        }
                        .verified_icon {
                            flex-shrink: 0;
                            width: 15px;
                            height: 15px;
                            background: url("$(res)/img/verified.svg");
                            background-position: center;
                            background-size: cover;
                            background-repeat: no-repeat;
                            border-radius: 50%;
                        }
                    }
                    .price_field {
                        text-align: center;
                    }
                    .holders_field {
                        text-align: center;
                    }
                    .marketcap_field {
                        text-align: center;
                    }
                    .paired_token_field {
                        text-align: center;
                        color: $font-purple-color;
                    }
                    .twitter_field {
                        display: flex;
                        justify-content: center;
                        .logo {
                            cursor: pointer;
                            width: 20px;
                            height: 20px;
                            mask-image: url("$(res)/img/twitter.svg");
                            mask-position: center;
                            mask-size: cover;
                            mask-repeat: no-repeat;
                            background-color: #55ACEE;
                            text-decoration: none;
                            &:hover {
                                background-color: $font-purple-color;
                            }
                        }
                    }
                    .website_field {
                        display: flex;
                        justify-content: center;
                        margin-right: 40px;
                        .logo {
                            cursor: pointer;
                            width: 20px;
                            height: 20px;
                            position: relative;
                            border-radius: 50%;
                            background-image: url("$(res)/img/right_panel/link.png");
                        }
                    }
                    .vote_field {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        .logo {
                            width: 15px;
                            height: 15px;
                            background-image: url("$(res)/img/cafeteria-point.png");
                        }
                        .content {
                            font-size: $font-10px;
                            margin-left: 5px;
                            font-family: FontBold;
                        }
                    }
                }     
            }
        }
        .react-bootstrap-table-pagination {
            display: flex;
            justify-content: flex-end;
            align-items: center;
            display: none;
            div {
                width: fit-content;
                .react-bootstrap-table-pagination-total {
                    display: none;
                }
                #pageDropDown {
                    width: 80px;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    font-size: $font-13px;
                    background-color: $font-purple-color !important;
                    border: none !important;
                }
                .dropdown-menu {
                    width: 80px !important;
                    min-width: 80px !important;
                    font-size: $font-13px !important;
                    overflow: hidden;
                    .dropdown-item {
                        padding: 0.375rem 0.75rem !important;
                        color: $font-dark-white-color !important;
                        &:hover {
                            background-color: $font-purple-color !important;
                            color: white !important;
                            cursor: pointer;
                        }
                    }
                }
                &.react-bootstrap-table-pagination-list {
                    .pagination {
                        margin: 0 !important;
                        .page-item {
                            width: 35px;
                            text-align: center;
                            cursor: pointer;
                            .page-link {
                                &:hover {
                                    color: white;
                                    background-color: $font-purple-color !important;
                                    border-color: $font-purple-color !important;
                                }
                            }
                            &.active {
                                .page-link {
                                    color: white;
                                    background-color: $font-purple-color !important;
                                    border-color: $font-purple-color !important;
                                }
                            }
                            &.disabled {
                                .page-link {
                                    color: $font-grey-color;
                                }
                                cursor: not-allowed;
                            }
                        }
                    }
                }
            }
        }
    }
}