.mx_SubscribePage {
    font-size: $font-14px;
    width: 100vw;
    height: 100vh;
    background-image: linear-gradient(18deg, #09D8A2 -7.33%, #0EC9A1 -1.37%, #1F9AA1 19.56%, #2D74A0 40.48%, #3856A0 61.16%, #3F41A0 81.45%, #4434A0 101.11%, #4630A0 119.5%);
    position: relative;
    &:before {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        background-image: url("$(res)/img/bg-graphics.svg");
        background-position: center;
        background-size: cover;
    }
    &_header {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 50px;
        background-color: #4630A0;
        z-index: 10;
    }
    &_twitter {
        height: 100%;
        cursor: pointer;
        &_logo {
            width: 30px;
            height: 30px;
            background-image: url("$(res)/img/social/twitter.png");
            background-position: center;
            background-size: cover;
        }
        &_content {
            margin-left: 10px;
        }
        &:hover {
            &_content {
                color: $green-color;
            }
        }
    }
    &_enterButton {
        cursor: pointer;
        position: fixed;
        top: 9px;
        right: 10px;
        width: 30px;
        height: 30px;
        border-radius: 50%;
        background-color: white;
        background-image: url("$(res)/img/private-group+password+encrypted-messages.png");
        background-position: center;
        background-size: 60% 60%;
        background-repeat: no-repeat;
        z-index: 100;
        transition: all 0.3s;
        border: 2px solid transparent;
        &:hover {
            background-color: transparent;
            border-color: white;
            transition: all 0.3s;
        }
    }
    &_body {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
        position: relative;
        z-index: 1;
    }
    &_cafeteriaLogo {
        margin-top: -10%;
        width: 50%;
        max-width: 400px;
        img {
            width: 100%;
        }
    }
    &_description {
        margin-top: 40px;
        background-color: #3f41a063;
        width: 80%;
        max-width: 500px;
        font-size: $font-16px;
        border-radius: 20px;
        padding: 30px;
    }
    &_form {
        margin-top: 40px;
        &_input {
            border-radius: 9999px !important;
            margin-right: 10px !important;
            background: white;
            padding: 2px;
            border: none !important;
            &:focus-within {
                background: linear-gradient(90deg,#3e45a0,#0068bb,#0086c6,#00a2c6,#00bbc1,#00c4af,#35cb92,#6bcf6e,#93c649,#b6ba28,#d7aa11,#f5961d);
            }
            input {
                border-radius: 9999px !important;
                width: 300px !important;
                height: 45px !important;
                padding: 0 20px !important;
                display: flex !important;
                justify-content: center !important;
            }
            label {
                color: $font-grey-white-color;
                top: 7px !important
            }
            input:focus + label {
                display: none !important;
                top: -13px !important;
            }
            &.filled {
                label {
                    display: none !important;
                }
            }
        }
        &_button {
            font-size: $font-16px;
            padding: 0 20px;
        }
    }
    &_footer {
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 50px;
        p {
            font-size: $font-12px;
        }
        .verified-badge {
            margin-left: 10px;
            width: 20px;
            height: 20px;
            background-image: url("$(res)/img/verified.svg");
            background-position: center;
            background-size: cover;
        }
    }
}

@media screen and (max-width: 768px) {
    .mx_SubscribePage {
        &_cafeteriaLogo {
            margin-top: -5% !important;
            width: 40% !important;
        }
        &_description {
            margin-top: 20px !important;
            padding: 20px !important;
        }
        &_form {
            margin-top: 20px !important;
            &_input {
                input {
                    width: 150px !important;
                }
            }
        }
    }
}