.mx_TransactionConfirmation {
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    &_label {
        margin-left: 10px;
        font-size: 14px;
        color: white;
        font-family: FontRegular;
    }
}