.mx_PasswordDialog {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 10000000000;
    background: linear-gradient(200.79deg, #4630A0 7.33%, #2F6FA0 58.49%, #09D8A2 100%);
    &_Wrap {
        width: 80%;
        max-width: 400px;
        position: absolute;
        left: 50%;
        top: 45%;
        transform: translate(-50%, -50%);
        background-color: white;
        border-radius: 25px;
        padding: 50px 30px;
        &_Header {
            
        }
        &_title {
            font-size: $font-20px;
            font-family: FontBold;
            color: $font-dark-color;
        }
        &_subTitle {
            margin-top: 10px;
            font-size: $font-14px;
            font-family: FontRegular;
            color: $font-grey-color;
        }
        &_background {
            width: 100%;
        }
        &_passwordInput {
            width: 100%;
            font-size: $font-14px;
            color: $font-dark-color;
            font-family: FontRegular;
            border-radius: 9999px !important;
            height: 45px;
            border: none !important;
            padding: 1px;
            background: $border-grey-color;
            &:focus-within {
                background: linear-gradient(90deg,#3e45a0,#0068bb,#0086c6,#00a2c6,#00bbc1,#00c4af,#35cb92,#6bcf6e,#93c649,#b6ba28,#d7aa11,#f5961d);
            }
            input {
                border-radius: 9999px !important;
                padding-left: 15px !important;
            }
            label {
                top: 2px !important;
            }
            input:focus + label {
                top: -13px !important;
            }
            input:not(:placeholder-shown) + label {
                top: -13px !important;
            }
        }
        &_signButton {
            cursor: pointer;
            margin-top: 20px;
            width: 100%;
            height: 45px;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: $green-color;
            border-radius: 9999px;
            transition: all 0.5s;
            font-family: FontBold;
            font-size: $font-16px;
            color: white;
            border: none;
            &:hover {
                border-radius: 9999px;
                background-color: $font-purple-color;
            }
        }
    }
}