.mx_ApprovalQuorumInput {
    margin-top: 20px;
    &_header {
        font-size: $font-14px;
        color: $font-dark-white-color;
        font-family: FontRegular;
    }
    &_percentSlider {
        width: 100%;
    }
}