
.mx_CurrencyBarrierWalletCheck {
    &.mx_Dialog_fixedWidth {
        width: 500px;
    }
    .mx_CurrencyBarrierWalletCheck_bg {
        display: flex;
        justify-content: center;
        height: 350px;
    }
    .mx_CurrencyBarrierWalletCheck_statement {
        display: flex;
        flex-direction: column;
        align-items: center;
        .mx_CurrencyBarrierWalletCheck_statement1 {
            color: $font-dark-white-color;
            font-size: $font-14px;
            text-align: center;
            font-family: FontBold;
            span {
                font-size: $font-16px;
            }
        }
        .mx_CurrencyBarrierWalletCheck_statement2 {
            margin-top: 20px;
            color: $font-grey-silver-color;
            text-align: center;
        }
    }
    .mx_CurrencyBarrierWalletCheck_currencyBarrier {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 20px;
        .mx_CurrencyBarrierWalletCheck_barrierInfo {
            &.nft_barrier {
                display: flex;
                justify-content: center;
                .mx_CurrencyBarrierWalletCheck_barrierInfo_item {
                    width: 70px;
                    height: 70px;
                    border-radius: 15px;
                    border: 3px solid transparent; /*2*/
                    background:linear-gradient(90deg, #9244d9, #05dba3) border-box; /*3*/
                    -webkit-mask-composite: destination-out; /*5'*/
                    mask-composite: exclude; /*5*/  
                    img {
                        width: 100%;
                        height: 100%;
                        border-radius: 12px;
                    }
                }
            }
            .mx_CurrencyBarrierWalletCheck_requireSol {
                font-size: 30px;
                color: $font-dark-color;
                font-family: FontBold;
                text-align: center;
            }
            .mx_CurrencyBarrierWalletCheck_CurrencyInfo {
                display: flex;
                align-items: center;
                justify-content: center;
                .mx_CurrencyBarrierWalletCheck_currency_Logo {
                    width: 20px;
                    height: 20px;
                    img {
                        width: 100%;
                        height: 100%;
                    }
                }
                .mx_CurrencyBarrierWalletCheck_currency_NameAndSymbol {
                    color: $font-dark-color;
                    padding-left: 10px;
                }
            }
            .mx_CurrencyBarrierWalletCheck_condition {
                color: $font-grey-color;
                text-align: center;
                font-family: FontRegular;
                font-size: $font-15px;
                margin-top: 10px;
            }
        }
    }
    .mx_CurrencyBarrierWalletCheck_button_group {
        display: flex;
        justify-content: space-evenly;
        margin-top: 30px;
        .mx_CurrencyBarrierWalletCheck_bt {            
            &.preveiw_button {
                color: $font-dark-white-color;
            }
        }
    }
}