.mx_DomainCategoryDialog {
    max-width: 450px;
    width: 80vw;
    .mx_DomainCategoryDialog_body {
        .mx_DomainCategoryDialog_categoryButton {
            .logo {
                width: 25px;
                height: 25px;
                margin-right: 5px;
                &.bonfida {
                    background-image: url("$(res)/img/bonfida-logo.png");
                }
                &.ens {
                    background-image: url("$(res)/img/ens-logo.png");
                }
            }
        }
    }
}