.mx_InputTokenAmtDialog {
    width: 500px;
    &_title {
        font-size: $font-20px;
        font-family: FontBold;
        color: $font-dark-white-color;
        padding-bottom: 10px;
        border-bottom: 1px solid $border-grey-color;
    }
    &_taps {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    &_tap {
        cursor: pointer;
        font-size: $font-14px;
        font-family: FontBold;
        color: $font-grey-white-color;
        padding: 10px;
        border-bottom: 3px solid transparent;
        margin: 0 10px;
        &:hover {
            color: $font-dark-white-color;
        }
        &.selected {
            border-bottom-color: $font-purple-color;
            color: $font-dark-white-color;
        }
    }
    &_body {
        padding: 20px;
        min-height: 250px;
    }
    &_currency {
        &_dropdown {
            &_title {
                font-size: $font-13px;
                margin-bottom: 10px;
            }
            .mx_Dropdown {
                width: 50%;
            }
            .mx_Dropdown_input {
                margin: 0;
                // width: 100%;
                border-radius: 9999px;
                border: none;
                box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.16);
                input {
                    border-radius: 9999px;
                }
            }
            &_option {
                height: 40px;
                display: flex;
                align-items: center;
                position: relative;
                img {
                    width: 20px !important;
                    height: 20px;
                }
                &_logo_lbl {
                    margin: 0;
                    font-size: $font-13px;
                }
                &.disable {
                    cursor: not-allowed;
                    &::before {
                        content: '';
                        width: 100%;
                        height: 100%;
                        position: absolute;
                        top: 0;
                        left: 0;
                        background-color: rgba(255, 255, 255, 0.623);
                    }
                }
            }
            #mx_SelectItemDialog_currenyDropdown__empty {
                display: none;
            }
 
            #mx_SelectItemDialog_currenyDropdown__1_enabled,
            #mx_SelectItemDialog_currenyDropdown__3_enabled,
            #mx_SelectItemDialog_currenyDropdown__5_enabled {
                position: absolute;
                left: 0;
                width: 100%;
                height: calc(100% - 40px);
                display: flex;
                align-items: center;
                justify-content: center;
                background-color: rgb(205 205 220 / 60%)!important;
                cursor: not-allowed;
                padding: 0 !important;
                .mx_AccessibleButton {
                    cursor: not-allowed;
                    width: 35px;
                    height: 35px;
                    background-image: url("$(res)/img/no-wallet-connected.png");
                }
            }
            #mx_SelectItemDialog_currenyDropdown__1_enabled {
                top: 40px;
                height: calc(100% - 40px);
            }
            #mx_SelectItemDialog_currenyDropdown__3_enabled {
                top: 120px;
                height: calc(100% - 120px);
            }
            #mx_SelectItemDialog_currenyDropdown__5_enabled {
                top: 200px;
                height: calc(100% - 200px);
            }
        }
        &_body {
            padding-top: 20px;
        }
        &_items {
            margin: 20px 0;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        &_item {
            position: relative;
            // width: 120px;
            width: 30%;
            height: 60px;
            // border: 1px solid $border-grey-color;
            box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.16);
            border-radius: 10px;
            cursor: pointer;
            .mx_InputTokenAmtDialog_currency_wrap {
                background-color: white;
                width: 100%;
                height: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 10px;
            }            
            &:hover {
                border-color: $font-purple-color;
            }
            &.selected {
                background-image: linear-gradient(90deg,#3e45a0,#0068bb,#0086c6,#00a2c6,#00bbc1,#00c4af,#35cb92,#6bcf6e,#93c649,#b6ba28,#d7aa11,#f5961d);
                padding: 1px;
                width: calc(30% - 2px);
                height: 58PX;
                .mx_InputTokenAmtDialog_amount {
                    color: $font-purple-color;
                }
            }
        }
        &_amount {
            font-size: $font-14px;
            color: $font-dark-white-color;
            font-family: FontBold;
        } 
        &_emoji {
            position: absolute;
            left: 50%;
            transform: translate(-50%, 0);
            top: -15px;
            width: 28px;
            height: 28px;
            &.emoji1 {
                background: url("$(res)/img/currency-input-emoji/emoji-1.png") center center / cover no-repeat;
            }
            &.emoji2 {
                background: url("$(res)/img/currency-input-emoji/emoji-2.png") center center / cover no-repeat;
            }
            &.emoji3 {
                background: url("$(res)/img/currency-input-emoji/emoji-3.png") center center / cover no-repeat;
            }
            &.emoji4 {
                background: url("$(res)/img/currency-input-emoji/emoji-4.png") center center / cover no-repeat;
            }
            &.emoji5 {
                background: url("$(res)/img/currency-input-emoji/emoji-5.png") center center / cover no-repeat;
            }
        }  
        &_customAmount {
            position: relative;
            width: 64%;
            height: 60px;
            // border: 1px solid $border-grey-color;
            box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.16);
            border-radius: 10px;
            display: flex;
            justify-content: center;
            align-items: center;
            .mx_InputTokenAmtDialog_currency_customAmount_wrap {
                background-color: white;
                width: 100%;
                height: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 10px;
            }    
            input {
                width: 80%;
                height: 30px;
                border: none;
                outline: none;
                font-size: $font-12px;
                color: $font-dark-white-color;
                transition: all 0.5s;
            }
            &:focus-within {
                background-image: linear-gradient(90deg,#3e45a0,#0068bb,#0086c6,#00a2c6,#00bbc1,#00c4af,#35cb92,#6bcf6e,#93c649,#b6ba28,#d7aa11,#f5961d);
                padding: 1px;
                width: calc(64% - 2px);
                height: 58px;
            }
            .mx_InputTokenAmtDialog_currency_emoji {
                left: 25%;
                transform: translate(-75%, 0);
            }
        }
        &_errorMessage {
            font-size: $font-14px;
            color: $warning-color;
            font-family: FontItalic;
            text-align: center;
        }
        &_sendBtnContainer {
            display: flex;
            flex-direction: row;
            justify-content: center;
        }
        &_sendButton {
            padding: 0 30px;
            margin-top: 50px;
        }
        &_footer {
            padding-top: 15px;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        &_statement {
            font-size: $font-12px;
            color: $font-grey-white-color;
        }
    }
    &_collectable {
        min-height: 250px;
        display: flex;
        justify-content: center;
        align-items: center;
        &_emptyWrap {
            display: flex;
            align-items: center;
            flex-direction: column;
            &_img {
                width: 100px;
            }
            &_label {
                font-size: $font-14px;
            }
        }
    }
}