.mx_NftCheckDialog {
    width: 90vw;
    max-width: 1000px;
    height: 80vh;
    .mx_NftCheckDialog_header {
        margin-top: 35px;
        font-size: 20px;
        color: $font-dark-color;
        font-family: FontBold;
        padding-left: 12%;
    }
    .mx_NftCheckDialog_Nft_container {
        display: flex;
        flex-wrap: wrap;
        padding: 0 10%;
        .mx_NftCheckDialog_Nft_Card {
            width: 29%;
            border: 1px solid $border-grey-color;
            border-radius: 10px;
            margin: 30px 2%;
            padding: 20px 0;
            .mx_NftCheckDialog_Nft_header {
                padding: 0 20px;
                display: flex;
                align-items: flex-start;
                justify-content: space-between;
                .mx_NftCheckDialog_Nft_name {
                    font-size: 16px;
                    color: $font-dark-color;
                    font-family: FontBold;
                    height: 44px;
                    display: -webkit-box;
                    -webkit-box-orient: vertical;
                    -moz-box-orient: vertical;
                    -ms-box-orient: vertical;
                    box-orient: vertical;
                    -webkit-line-clamp: 2;
                    -moz-line-clamp: 2;
                    -ms-line-clamp: 2;
                    line-clamp: 2;
                    overflow: hidden;
                }
                .mx_NftCheckDialog_Nft_badge {
                    width: 20px;
                    height: 20px;
                    background: url("$(res)/img/verified.svg");
                    background-position: center;
                    background-size: cover;
                    background-repeat: no-repeat;
                }
            }
            .mx_NftCheckDialog_Nft_image {
                margin-top: 30px;
                width: 100%;
                padding: 0 20px;
                img{
                    width: calc(100% - 40px);
                }
            }
            .mx_NftCheckDialog_Nft_button {
                padding: 0 20px;
                margin-top: 70px;
                display: flex;
                justify-content: center;
                button {
                    width: 65%;
                    font-size: 16px;
                    border: 1px solid $border-grey-color;
                    font-family: FontBold;
                    color: $font-dark-color;
                    border-radius: 9999px;
                    transition: all 0.5s;
                    &:hover {
                        border-color: $font-purple-color;
                        background-color: $font-purple-color;
                        color: white;
                        transition: all 0.5s;
                    }
                }
            }
        }
    }
}