.mx_SelectItemDialog {
    max-width: 750px;
    width: 80vw;
    height: 80vh;
    .mx_SelectItemDialog_wrap {
        .mx_SelectItemDialog_option {
            margin-top: 20px;
            .mx_SelectItemDialog_option_header {
                display: flex;
                align-items: center;
                .mx_SelectItemDialog_option_content {
                    margin-left: 10px;
                    font-size: 16px;
                    font-family: FontBold;
                    color: $font-dark-color;
                }
            }
            .mx_SelectItemDialog_option_body {
                padding-left: 50px;
                .mx_SelectItemDialog_currency_wrap {
                    display: flex;
                    align-items: center;
                    .mx_SelectItemDialog_currenyDropdown {
                        width: 40%;
                        .mx_SelectItemDialog_currencyOption {
                            display: flex;
                            .mx_SelectItemDialog_currencyLogo {
                                img {
                                    width: 20px;
                                }
                            }
                        }
                    }
                    .mx_SelectItemDialog_CurrencyAmountInput {
                        width: 30%;
                        margin-left: 20px;
                    }                
                }
                .mx_SelectItemDialog_joinConditions {
                    display: flex;
                    align-items: center;
                    .mx_SelectItemDialog_joinCondition {
                        width: 30%;
                        display: flex;
                        align-items: center;
                        .mx_SelectItemDialog_joinCondition_content {
                            margin-left: 10px;
                            font-family: FontRegular;
                            color: $font-dark-color;
                        }
                    }
                }
            }
        }
        .mx_SelectItemDialog_trade_button {
            width: calc(100% - 48px);
            border: 1px solid $green-color;
            color: $green-color;
            background-color: transparent;
            border-radius: 9999px;
            padding: 15px 0;
            font-size: 16px;
            font-family: FontBold;
            text-align: center;
            transition: all 0.5s;
            position: absolute;
            bottom: 50px;
            left: 50%;
            transform: translate(-50%);
            font-family: FontBold;
            &:hover {
                border-color: $font-purple-color;
                background-color: $font-purple-color;
                color: white;
                transition: all 0.5s;
            }
            &.hidden {
                display: none;
            }
        }
    }
}

.mx_SelectItemDialog_radio_button {
    width: 25px;
    height: 25px;
    border: 1px solid $font-grey-color;
    border-radius: 50%;
    cursor: pointer;
    &.active {
        width: 10px;
        height: 10px;
        border: 8.5px solid $green-color;
        border-radius: 50%;
    }
}

.mx_SelectItemDialog_Nfts_body {
    padding: 50px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    .mx_SelectItemDialog_Nft_Card {
        padding: 20px;
        width: 30%;
        margin: 3%;
        border: 1px solid $border-grey-color;
        border-radius: 10px;
        .mx_SelectItemDialog_Nft_header {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-top: 10px;
            .mx_SelectItemDialog_Nft_name {
                height: 25px;
                display: -webkit-box;
                -webkit-box-orient: vertical;
                -moz-box-orient: vertical;
                -ms-box-orient: vertical;
                box-orient: vertical;
                -webkit-line-clamp: 1;
                -moz-line-clamp: 1;
                -ms-line-clamp: 1;
                line-clamp: 1;
                overflow: hidden;
                color: $font-dark-color;
                font-family: FontBold;
            }
            .mx_AccessibleButton {
                .mx_SelectItemDialog_Nft_badge {
                    img {
                        width: 20px;
                    }
                }
            }
        }
        .mx_SelectItemDialog_Nft_image {
            margin-top: 30px;
            img {
                width: 100%;
            }
        }
        .mx_SelectItemDialog_Nft_button {
            margin-top: 50px;
            display: flex;
            justify-content: center;
            button {
                width: 60%;
                border: 1px solid $border-grey-color;
                color: $font-dark-color;
                background-color: transparent;
                transition: all 0.5s;
                font-family: FontBold;
                border-radius: 9999px;
                cursor: pointer;
                &:hover {
                    border-color: $green-color;
                    background-color: $green-color;
                    color: white;
                    border-radius: 9999px;
                    transition: all 0.5s;
                }
            }
            &.selected {
                button {
                    cursor: not-allowed;
                    background-color: $font-purple-color;
                    color: white;
                }
            }
        }
    }
}