.mx_ResultDialog {
    max-width: 400px;
    width: 80vw;
    .mx_ResultDialog_lottie_animation {
        margin-top: 100px;
        display: flex;
        justify-content: center;
        .mx_ResultDialog_lottie_animation_item {
            width: 175px;
        }
    }
    .mx_ResultDialog_discription {
        margin-top: 50px;
        text-align: center;
        .mx_ResultDialog_statement {
            font-size: 16px;
            color: $font-dark-color;
            font-family: FontBold;
        }
        .mx_ResultDialog_subStatement {
            color: $font-grey-color;
            font-family: FontRegular;
            margin-top: 10px;
        }
    }
    .mx_ResultDialog_Buttons_Group {
        margin-top: 100px;
        display: flex;
        justify-content: space-evenly;
        .mx_ResultDialog_Button {
            border-radius: 9999px;
            border: 1px solid $border-grey-color;
            color: $font-dark-color;
            font-family: FontBold;
            text-align: center;
            transition: all 0.5s;       

            &.trade {
                padding: 10px 30px;
                color: white;
                border-color: $green-color;
                transition: all 0.5s;
                background-color: $green-color;
            }
            &:hover {
                transition: all 0.5s;
                border-color: $font-purple-color;
                color: white;
                background-color: $font-purple-color;
            }
        }
        &.success {
            .close {
                padding: 10px 30px;
            }
        }
        &.cancel {
            .close {
                width: 80%;
                padding-top: 10px;
                padding-bottom: 10px;
            }
        }
    }
}