.mx_TradeRequestDialog {
    max-width: 550px;
    .mx_TradeRequestDialog_bg {
        padding: 0 20px;
        .mx_TradeRequestDialog_bg_lottie {
            width: 100%;
        }
    }
    .mx_TradeRequestDialog_statement {
        font-size: 16px;
        color: $font-dark-color;
        margin-top: 30px;
        text-align: center;
        font-family: FontBold;
        &.waiting {
            color: $font-dark-color;
        }
        .mx_TradeRequestDialog_subStatement {
            font-size: 14px;
            margin-top: 30px;
            text-align: center;
            color: $font-grey-color;
            font-family: FontRegular;
        }
    }
    .mx_TradeRequestDialog_button_group {
        margin: 30px 20px;
        display: flex;
        justify-content: space-around;
        align-items: center;
        .mx_TradeRequestDialog_button {
            padding: 15px 70px;
            font-size: 16px;
            border-radius: 9999px;
            border: 1px solid $border-grey-color;
            color: $font-dark-color;
            transition: all 0.5s;
            font-family: FontBold;
            &.accept {
                border-color: 1px solid $green-color;
                background-color: $green-color;
                color: white;
                transition: all 0.5s;
            }
            &.cancel {
                width: 100%;
                padding: 15px 0;
                text-align: center;
                color: $font-dark-color;
            }
            &:hover {
                background-color: $font-purple-color;
                border-color: $font-purple-color;
                color: white;
                transition: all 0.5s;
            }
            
        }
    }
}