.mx_WalletCategory_Dialog {
    max-width: 450px;
    width: 80vw;
    &_button {
        &_logo {
            width: 20px;
            height: 20px;
            &.solana {
                background-image: url("$(res)/img/currency/solana.png");
            }
            &.ethereum {
                background-image: url("$(res)/img/currency/ethereum.svg");
                background-size: contain;
            }
        }
    }
}