.mx_WalletControlDialog {
    max-width: 450px;
    &_button {
        &_logo {
            width: 20px;
            height: 20px;
            margin-right: 10px;
            mask-position: center;
            mask-size: cover;
            mask-repeat: no-repeat;
            background-color: white;
            &.clipboard {
                mask-image: url("$(res)/img/clipboard.svg");
            }
            &.disconnect {
                mask-image: url("$(res)/img/break-chain.svg");
            }
        }
    }
}