.mx_WalletWarningDialog {
    width: 80vw;
    max-width: 600px;
    max-height: 80vh;
    .mx_Dialog_titleImage {
        width: 35px;
        height: 35px;
    }
    &_title {
        margin-top: 30px;
        font-size: $font-18px;
    }
    &_content {
        margin-top: 20px;
        p {
            margin-bottom: 10px !important;
        }
    }
    &_image {
        margin-top: 50px;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        img {
            width: 150px;
        }
    }
    &_button {
        margin: auto;
        margin-top: 30px;
        width: 30%;
    }
}