.mx_WizardModeSelect {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    &_mode {
        cursor: pointer;
        padding: 30px 20px;
        border: 1px solid $font-purple-color;
        border-radius: 10px;
        margin: 20px 0;
        width: 60%;
        transition: all 0.5s;
        &_title {
            font-family: FontBold;
            color: $font-dark-white-color;
            font-size: $font-18px;
            text-align: center;
        }
        &_description {
            margin-top: 20px;
            font-family: FontRegular;
            color: $font-grey-white-color;
            font-size: $font-14px;
            text-align: center;
        }
        &:hover {
            transition: all 0.5s;
            background-color: $font-purple-color;
            .mx_WizardModeSelect_mode_title {
                color: white;
            }
            .mx_WizardModeSelect_mode_description {
                color: white;
            }
        }
    }
}