.mx_Privacy {
    overflow-y: auto;
    overflow-y: overlay;    // where supported
    -ms-overflow-style: -ms-autohiding-scrollbar;
    .mx_Privacy_container {
        background-color: white;
        padding-top: 50px;
    }
    .mx_Privacy_header {
        font-size: $font-25px;
        color: $font-dark-white-color;
        font-family: FontBold;
        padding: 0 50px;
        text-align: center;
    }
    .mx_Privacy_body {
        padding: 50px;
        line-height: 2;
        font-size: $font-16px;
        color: $font-dark-white-color;
        .mx_Privacy_title, .mx_Privacy_subTitle {
            font-family: FontBold;
        }
        .mx_Privacy_content {
            font-family: FontRegular;
            margin-bottom: 20px;
            &.missive {
                padding: 0 20px;
                margin: 20px;
                font-family: FontItalic;
                border-bottom: 5px solid $font-dark-white-color;
                .bold {
                    font-weight: 900;
                    font-family: FontItalic;
                }
                .missive_footer {                    
                    padding: 20px 0;
                }
            }
            span {
                font-family: FontBold;
            }
        }
        .mx_Privacy_list {
            font-family: FontRegular;
            margin-left: 30px;
            li {
                padding-left: 10px;
            }
        }
        .mx_Privacy_title {
            .mx_Privacy_subTitle {
                margin-left: 20px;
                .mx_Privacy_subTitle2 {
                    margin-left: 20px;
                }
            }
        }
    }
    .mx_Privacy_footer {
        padding: 0 50px 100px;
        .mx_Privacy_contact {
            font-family: FontBold;
            color: $font-dark-white-color;
            .mx_Privacy_title {
                font-size: $font-18px;
            }
            .mx_Privacy_email {    
                margin-top: 20px;
                span {
                    text-decoration: underline;
                    color: rgb(42, 108, 251);
                    font-family: FontRegular;
                }
            }
            .mx_Privacy_address {
                margin-top: 20px;
                span {
                    font-family: FontRegular;
                }
            }
        }
    }
}