.dropdown {
  position: relative;
  filter: url(#goo);
  &__face {
    display: block;
    position: relative;
  }

  &__items {
    margin: 0;
    position: absolute;
    right: 0;
    top: 50%;
    width: 150px;
    padding: 0px;
    list-style: none;
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    visibility: hidden;
    z-index: 100000000000000;
    opacity: 0;
    transition: all 0.4s cubic-bezier(0.93, 0.88, 0.1, 0.8);
    background-color: $mobile-menu-bg;
    border-radius: 10px;
  }

  &__item {
    width: 100%;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    &__darkIcon {
      width: 30px;
      height: 30px;
      mask-image: $dark-icon;
      mask-position: center;
      mask-repeat: no-repeat;
      mask-size: cover;
      background-color: $font-dark-white-color;
    }
    &__switchIcon {
      width: 30px;
      height: 30px;
      mask-image: url("$(res)/img/swap.svg");
      mask-position: center;
      mask-repeat: no-repeat;
      mask-size: cover;
      background-color: $font-grey-white-color;
      margin: 0 20px;
    }
    &__lightIcon {
      width: 30px;
      height: 30px;
      mask-image: $light-icon;
      mask-position: center;
      mask-repeat: no-repeat;
      mask-size: cover;
      background-color: $font-dark-white-color;
    }
  }

  input {
    display: none;

    &.mx_HomePage_Header_menu_checkbox:checked ~ .dropdown__items {
      top: 100%;
      visibility: visible;
      opacity: 1;
    }
    &.mx_LeftPanel_Header_menu_checkbox:checked ~ .dropdown__items {
      top: 100%;
      visibility: visible;
      opacity: 1;
    }

    &.mx_HeaderButtons_menu_checkbox:checked ~ .dropdown__items {
      top: 100%;
      visibility: visible;
      opacity: 1;
    }
  }
}
