.mx_RoomView {
    &.mx_RoomView_Mobile {
        .mx_NewRoomIntro {
            margin: 0;
            padding: 20px 20px 30px;
        }
        .mx_MessageComposer_wrapper {
            padding: 0 5px 10px;
            .mx_MessageComposer_row {
                flex-grow: 1;
                .mx_messageInput_and_tools {
                    width: calc(100% - 45px) !important;
                    .mx_BasicMessageComposer_input  {
                        padding-right: 80px!important;
                        padding-left: 50px!important;
                    }
                }
                .mx_MessageComposer_sendMessage {
                    margin: 0 !important;
                }
                &.hide-controls {
                    .mx_messageInput_tools {
                        display: none;
                    }
                }
            }
            .mx_messageInput_tools {
                right: 15px;
                .mx_MessageComposer_button {
                    margin-right: 0;
                }
                .mx_VoiceRecordComposerTile_delete {
                    margin-right: 0;
                }
                .mx_VoiceRecordComposerTile_stop {
                    margin-right: 0;
                }
            }
        }
        .mx_UserCoinWallet {
            margin: 0;
        }
        .mx_RoomView_MessageList {
            padding: 0;
            padding-bottom: 55px;
        }
        .mx_EventTile {
            &_line {
                padding-left: 50px !important;
                margin-right: 60px !important;
            }
            &_content {
                margin-right: 0 !important;
            }
            &_msgOption {
                width: 45px !important;
            }
        }
        .mx_JumpToBottomButton {
            right: 10px !important;
        }
        .mx_RoomHeader {   
            .mx_RoomHeader_wrapper {
                padding:  0 10px !important;
            }         
            &_name {
                font-size: $font-13px;
                width: 100%;
                margin-top: 0 !important;
                .mx_RoomHeader_nametext {
                    padding: 10px 15px;
                    background-color: $border-grey-color;
                    border-radius: 9999px;
                }
            }            
            &_Name_Category {
                margin-right: 0;
                flex: 1 !important;
                max-width: none !important;
                position: relative;
                width: 50%;
            }
            .mx_RoomHeader_subtitle {
                display: none;
            }
            &_button, .mx_RightPanel_headerButton {
                width: 24px;
                height: 24px;
                &::before {
                    top: 0;
                    left: 0;
                }
            }
            &_avatar {
                margin: 0 5px;
            }
            .mx_RoomHeader_UserInfoButton {
                display: none;
                // .mx_UserMenu  {
                //     display: none;
                // }
                // .mx_RoomHeader_UserInfoButton_wallet {
                //     display: none;
                // }
            }
            .mx_HeaderButtons_web {
                display: none !important;
            }
            .mx_HeaderButtons_mobile {
                display: inline !important;
            }
        }
        @media (max-width: 500px) {
            .mx_RoomHeader_topic {
                visibility: hidden;
            }
        }
    }
    @media (max-width: 430px) {
        .mx_SearchBar {
            &_buttons {
                display: none;
            }
        }
    }
}

@media (max-width: 600px) {
    .mx_HomePage {
        .mx_HomePage_wrapper {
            border-radius: 0 !important;
        }
        .mx_HomePage_Header {
            width: 100%;
            z-index: 100000;
            padding: 12px 0;
            flex-shrink: 0; // to convince safari's layout engine the flexbox is fine
            // Create another flexbox column for the rows to stack within
            display: flex;
            justify-content: space-between;
            align-items: center;
            background-color: #4b33a1;
            &_hidden {
                display: none;
            }       
            &_logo {
                cursor: pointer;
                width: 50px;
                height: 50px;
                margin-left: 10px;
                img {
                    width: 100%;
                    padding: 5px 0;
                    margin-top: 3px;
                }
            }
            &_Buttons {
                display: flex;
                align-items: center;
            }
            &_Button {
                width: 43px;
                height: 43px;
                border: 1px solid #6a57c0;
                border-radius: 50%;
                position: relative;
                margin: 0 15px;
                cursor: pointer;
                &::before {
                    content: "";
                    width: 70%;
                    height: 70%;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);                    
                    mask-position: center;
                    mask-size: cover;
                    mask-repeat: no-repeat;
                    background-color: white;
                }
                
                &.vote_button {
                    display: none;
                    &::before {
                        mask-image: url("$(res)/img/check_box.svg");
                    }
                }
                &.message_button {
                    &::before {
                        mask-image: url("$(res)/img/people.png");
                    }
                }
            }
            .mx_RoomHeader_UserInfoButton {
                margin: 0 10px 0 !important;
                .mx_UserMenu_userAvatar {
                    width: 45px !important;
                    height: 45px !important;
                }
            }
            &_menu_Button {
                margin-right: 10px;
                width: 45px;
                height: 45px;
                position: relative;
                &::before {
                    content: '';
                    position: absolute;
                    width: 72%;
                    height: 60%;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    mask-image: url("$(res)/img/three-horizontal-lines.svg");
                    mask-position: center;
                    mask-size: cover;
                    mask-repeat: no-repeat;
                    background-color: white;
                }
            }
        }

        .mx_HomePage_First_background {
            display: none !important;
            border: none !important;
            padding: 80px 0 0 !important;
            .mx_HomePage_introSection {
                padding: 0 12%;
                .mx_HomePage_introSection_title {
                    font-size: $font-26px !important;                
                    line-height: 1.2 !important;
                }
                .mx_HomePage_introSection_subtitle {
                    margin-top: 15px !important;
                    font-size: 15px !important;
                }
            }
        }
        .mx_HomePage_Chat_category {
            padding: 10px;
            .mx_HomePage_Chat_categories_header {
                margin: 0 !important;
            }
            .mx_HomePage_Chat_category_body {
                padding:  0 !important;
            }
        }
        .mx_HomePage_category  {
            padding: 5px 10px !important;
        }
        .mx_HomePage_Categories_Filterbar {
            flex-direction: column;
            align-items: flex-start !important;
            padding: 30px 0 !important;
        }
        .mx_HomePage_filterbar_leftSection {
            width: 100%;
            justify-content: space-between;
        }
        .mx_HomePage_JoinRandom_bt {
            margin: 0 !important;
            width: 45px !important;
            height: 45px !important;
            align-items: center !important;
        }
        .mx_HomePage_JoinRandom_bt_img {
            margin: 0 !important;
        }
        .mx_HomePage_JoinRandom_bt_content {
            display: none;
        }
        .mx_HomePage_filterbar_leftSection {
            .mx_HomePage_JoinRandom_bt {
                display: none !important;
            }
        }
        .mx_HomePage_filterbar_rightSection {
            width: 100%;
            margin-top: 10px;
            .mx_HomePage_JoinRandom_bt {
                display: flex !important;
            }
            .mx_HomePage_filter_select_title {
                display: none;
            }
            .mx_HomePage_filter_select {
                display: flex;
                justify-content: space-between !important;
            }

        }        
    }
    .mx_MainSplit > .mx_RightPanel_ResizeWrapper {
        min-width: 100% !important;
    }
    .mx_MainSplit {
        flex-direction: column !important;
        .mx_RoomView_liveSidePanel {
            width: 100% !important;
            border-bottom: 1px solid $border-grey-color;
            .view {
                border-left: none !important;
            }
            .tiles {
                justify-content: space-evenly !important;
                flex-direction: row !important;
                .tile {
                    width: 30px !important;
                    height: 30px !important;
                    margin: 10px !important;
                    background-size: 30px !important;
                    .lock {
                        margin: 0 0 20px 20px !important;
                    }
                    .broadcast {
                        padding: 0 0 45px 30px !important;
                    }
                }
                .tile:hover:not(.disabled) {
                    background-size: 30px!important;
                }
            }     
        }
        .hide {
            display: none !important;
        }
    }
    .participant-container {
        margin-bottom: 0 !important;
    }
    .participant-displayname {
        font-size: 1rem !important;
    }
}


@media (max-width: 520px) {
    .mx_HomePage_introSection_button_group {
        display: none !important;
    } 
    .mx_WelcomePage {
        .mx_HomePage_introSection_button_group {
            display: flex !important;
        }   
    }           
}

.mx_LoginPage, .mx_ForgotPasswordPage, .mx_SignUpPage, .mx_WelcomePage {
    @media (max-width: 698px) {
        .mx_SearchBar {
            display: none;
        }
    }
    @media (max-width: 400px) {
        .mx_UserMenu {
            display: none;
        }
        .mx_NavBar_SwitchThemeButton {
            display: none;
        }
    }
    @media (max-width: 763px) {
        .mx_MobileAppAlert {
            display: block !important;
            background-color: rgb(70, 48, 160);
            color: white;
            text-align: center;
            font-weight: 700;
            font-size: 1rem;
            font-family: Inter;
            z-index: 2;
            padding: 0.5rem;
            opacity: 1;
            position: absolute;
            top: 0;
            width: 100%;
        }
    }    
}

.mx_LeftPanel {
    @media (max-width: 600px) {
        .mx_LeftPanel_userHeader  {
            .mx_LeftPanel_logo {
                &:hover {
                    margin: 0 !important;
                    margin-left: 10px !important;
                    width: 50px !important;
                    height: 50px !important;
                    img {
                        display: inline !important;
                    }
                }
                img {
                    padding: 0 !important;
                    margin: 0 !important;
                }
            }
            .mx_LeftPanel_Header_Buttons {
                .vote_button {
                    display: none;
                }
            }
            .mx_RoomHeader_UserInfoButton {
                margin: 0 10px 0 !important;
                .mx_UserMenu_userAvatar {
                    width: 45px !important;
                    height: 45px !important;
                }
            }
        }
    }
}

@media (max-width: 600px) {
    .mx_ReplyPreview {
        margin-left: 0;
    }
}