.mx_DaoInfoCard {
    width: 100%;
    border: 1px solid $border-grey-color;
    border-radius: 10px;
    padding-bottom: 20px;
    &_header {
        margin: 30px;
    }
    &_title {
        font-family: FontBold;
        font-size: $font-18px;
        color: $font-dark-white-color;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
    }
    &_member {
        color: $font-dark-white-color;
        display: flex;
        justify-content: center;
        align-items: center;
        &_icon {
            width: 20px;
            height: 20px;
        }
        &_number {
            margin-left: 5px;
            font-family: FontRegular;
            font-size: $font-13px;
        }
        &:hover {
            color: $font-purple-color;
        }
    }
    &_detail {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        margin-top: 10px;
        margin-bottom: 40px;
    }
    &_category {
        font-family: FontRegular;
        font-size: $font-13px;
        color: $font-dark-white-color;
        padding: 2px 5px;
        border: 1px solid $border-grey-color;
        border-radius: 9999px;
        background-color: $border-grey-color;
    }
    &_condition {
        padding: 2px 5px;
        border: 1px solid $font-purple-color;
        border-radius: 9999px;
        display: flex;
        align-items: center;
        &_logo {
            width: 18px;
            height: 18px;
            background-image: url("$(res)/img/solana.png");
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
            margin-right: 5px;
        }
        &_content {
            font-family: FontBold;
            font-size: $font-13px;
            color: $font-dark-white-color;
        }
    }
    &_joinedCondition {
        display: flex;
        justify-content: center;
        margin-bottom: 20px;
        div {
            width: 50%;
            padding: 10px;
            font-size: $font-12px;
            font-family: FontBold;
            color: $font-dark-white-color;
            border: 1px solid $border-grey-color;
            border-radius: 9999px;
            cursor: pointer;
            &.joined {
                background-color: $font-purple-color;
                border-color: $font-purple-color;
                color: white;
            }
        }
    }
    &_buttons {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }
    &_buttonGroup {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    &_button {
        width: 35px;
        height: 35px;
        border: 1px solid $font-purple-color;
        border-radius: 9999px;
        position: relative;
        &::before {
            content: "";
            width: 80%;
            height: 80%;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            mask-position: center;
            mask-size: cover;
            mask-repeat: no-repeat;
            background-color: $font-dark-color;
        }
        &.visit {
            &::before {
                mask-image: url("$(res)/img/forward.png");
            }
        }
        &.notification {
            &::before {
                mask-image: url("$(res)/img/no-notification.png");
            }
        }
        &.help {
            &::before {
                mask-image: url("$(res)/img/help.png");
            }
        }
        &:hover {
            transition: all 0.5s;
            background-color: $font-purple-color;
            &::before {
                transition: all 0.5s;
                background-color: white;
            }
        }
    }
    &_buttonLabel {
        margin-top: 5px;
        font-family: FontRegular;
        font-size: $font-12px;
        color: $font-purple-color;
    }
}