.mx_EmptyState {
    padding: 20px;
    border: 1px solid $border-grey-color;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    &_icon {
        display: flex;
        justify-content: center;
        width: 30px;
        height: 30px;
    }
    &_title {
        font-size: $font-13px;
        color: $font-dark-white-color;
        font-family: OpenSasnRegular;
        display: flex;
        justify-content: center;
    }
    &_mainContent {
        font-size: $font-14px;
        font-family: OpenSasnRegular;
        color: $font-grey-white-color;
        padding: 10px 0;
    }
    &_button {
        height: 45px;
        width: 80%;
        font-size: $font-13px;
        font-family: OpenSasnRegular;
        color: $font-dark-white-color;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid $font-purple-color;
        border-radius: 9999px;
        transition: all 0.5s;
        &:hover {
            transition: all 0.5s;
            background-color: $font-purple-color;
            color: white;
        }
    }
}