.mx_AccountsTabs {
    margin-top: 30px;
    &_button {
        box-sizing: border-box !important;
        padding: 20px;
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
        &.active {
            border-left: 3px solid $font-dark-white-color;
            background-color: $border-grey-color;
        }
    }
    &_accountInfo {
        display: flex;
        align-items: center;
    }
    &_logo {
        display: flex;
        width: 20px;
        height: 20px;
        img {
            width: 100%;
            height: 100%;
        }
    }
    &_name {
        margin-left: 5px;
        font-size: $font-14px;
        color: $font-grey-white-color;
        font-family: FontBold;
    }
    &_amount {
        margin-top: 10px;
        font-size: $font-13px;
        color: $font-grey-white-color;
        font-family: FontRegular;
    }
    &_price {
        margin-top: 5px;
        font-size: $font-12px;
        color: $font-grey-white-color;
        font-family: FontRegular;
    }
}