.mx_AccountItemNFT {
    display: flex;
    align-items: center;
    &_logo {
        width: 20px !important;
        height: 20px !important;
    }
    &_info {
        line-height: 1.5;
        margin-left: 10px;
    }
    &_account {
        color: $font-dark-white-color;
        font-family: FontRegular;
        font-size: $font-13px;
    }
    &_amount {
        color: $font-grey-white-color;
        font-family: FontRegular;
        font-size: $font-13px;
    }
}