.mx_BaseAccountHeader {
    margin-top: 20px;
    padding: 20px;
    background-color: $border-grey-color;
    border-radius: 5px;
    &_container {
        display: flex;
        align-items: center;
    }
    &_logo {
        width: 30px;
        height: 30px;
        border-radius: 50%;
    }
    &_info {
        margin-left: 10px;
    }
    &_amount {
        color: $font-dark-white-color;
        font-family: FontBold;
        font-size: $font-20px;
    }
    &_symbol {
        color: $font-grey-white-color;
        font-family: FontBold;
        font-size: $font-14px;
    }
    &_price {
        margin-top: 10px;
        color: $font-dark-white-color;
        font-family: FontBold;
        font-size: $font-16px;
        &:empty {
            margin-top: 0px;
        }
    }
}