.mx_DepositLabel {
    margin-top: 20px;
    background-color: $border-grey-color;
    border-radius: 5px;
    padding: 15px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    &_title {
        color: $font-grey-white-color;
        font-family: FontRegular;
        font-size: $font-12px;
    }
    &_name {
        color: $font-dark-white-color;
        font-family: FontRegular;
        font-size: $font-13px;
    }
    &_address {
        color: $font-dark-white-color;
        font-family: FontRegular;
        font-size: $font-13px;
    }
    &_button {
        &_icon {
            width: 20px;
            height: 20px;
        }
    }
}