.mx_DepositNFTFromWallet {
    &_buttonGroup {
        margin-top: 30px;
        display: flex;
        align-items: center;
        justify-content: flex-end;
    }
    &_button {
        height: 45px;
        padding: 0 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 10px;
        border: 1px solid $font-purple-color;
        border-radius: 9999px;
        font-size: $font-14px;
        font-family: FontBold;
        color: $font-dark-white-color;
        transition: all 0.5s;
        &:hover {
            background-color: $font-purple-color;
            color: white;
            transition: all 0.5s;
        }
    }
}