.mx_DepositNFTAddress {
    &_description {
        margin-top: 30px;
        display: flex;
        align-items: center;
        &_icon {
            width: 15px;
            height: 15px;
        }
        &_content {
            margin-left: 5px;
            font-family: FontRegular;
            font-size: $font-12px;
            color: $font-dark-white-color;
        }
    }
    &_field {
        margin-top: 40px;
    }
    &_button {
        margin-top: 20px;
        height: 45px;
        width: 200px;
        border: 1px solid $font-purple-color;
        border-radius: 9999px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: FontBold;
        font-size: $font-14px;
        color: $font-dark-white-color;
        transition: all 0.5s;
        &:hover {
            background-color: $font-purple-color;
            color: white;
            transition: all 0.5s;
        }
    }
    &_warning {
        margin-top: 10px;
        color: $warning-color;
        font-family: FontRegular;
        font-size: $font-12px;
    }
    &_buttonGroup {
        margin-top: 30px;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        .mx_AccessibleButton {
            height: 45px;
            padding: 0 30px;
            border: 1px solid $font-purple-color;
            border-radius: 9999px;
            display: flex;
            justify-content: center;
            align-items: center;
            font-family: FontBold;
            font-size: $font-14px;
            color: $font-dark-white-color;
            &:hover {
                background-color: $font-purple-color;
                color: white;
                transition: all 0.5s;
            }
        }
    }
}