.mx_NFTSelector {
    &_empty {
        margin-top: 20px;
        &_content {
            text-align: center;
            color: $font-dark-white-color;
            font-family: FontBold;
            font-size: $font-14px;
        }
        &_imgContainer {
            margin-top: 20px;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        &_img {
            width: 150px;
        }
    }
    &_container {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
    }
    &_nft {
        margin: 20px;
        position: relative;
        border-radius: 5px;
        overflow: hidden;
        img {
            width: 150px;
        }
        .selected {
            position: absolute;
            bottom: 10px;
            right: 10px;
            width: 30px;
            height: 30px;
            background: url("$(res)/img/verified.svg");
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
        }   
    }
}