.mx_SendTokens {
    &_container {
        margin-top: 20px;
    }
    &_field {

    }
    &_accountOwner {
        margin-top: 20px;
        &_title {
            color: $font-grey-white-color;
            font-family: FontRegular;
            font-size: $font-13px;
        }
        &_address {
            color: $font-dark-white-color;
            font-family: FontRegular;
            font-size: $font-14px;
        }
    }
    &_accountInfo {
        margin-top: 20px;
        &_title {
            color: $font-grey-white-color;
            font-family: FontRegular;
            font-size: $font-13px;
        }
        &_address {
            color: $font-dark-white-color;
            font-family: FontRegular;
            font-size: $font-14px;
        }
    }
    &_warning {
        margin-top: 10px;
        color: $warning-color;
        font-family: FontRegular;
        font-size: $font-12px;
    }
    &_optionButton {
        cursor: pointer;
        margin-top: 20px;
        display: flex;
        align-items: center;
        &_icon {
            width: 15px;
            height: 15px;
        }
        &_content {
            margin-left: 5px;
            color: $font-grey-white-color;
            font-family: FontRegular;
            font-size: $font-13px;
        }
    }
    &_buttonGroup {
        margin-top: 30px;
        display: flex;
        align-items: center;
        justify-content: flex-end;
    }
    &_button {
        height: 45px;
        padding: 0 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 20px 0;
        color: $font-dark-white-color;
        font-family: FontBold;
        font-size: $font-14px;
        border: 1px solid $font-purple-color;
        border-radius: 9999px;
        transition: all 0.5s;
        &:hover {
            background-color: $font-purple-color;
            color: white;
            transition: all 0.5s;
        }
    }
}