.mx_TokenAccounts {
    margin-top: 20px;
    &_empty {
        padding: 20px;
        text-align: center;
        color: $font-grey-white-color;
        font-family: FontBold;
        font-size: $font-13px;
        border: 1px solid $border-grey-color;
        border-radius: 5px;
    }
    &_account {
        padding: 20px;
        border: 1px solid $border-grey-color;
        border-radius: 5px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        &_token {
            color: $font-grey-white-color;
            font-family: FontBold;
            font-size: $font-13px;
        }
        &_button {
            padding: 10px 20px;
            color: $font-grey-white-color;
            font-family: FontBold;
            font-size: $font-13px;
            border: 1px solid $font-purple-color;
            border-radius: 9999px;
            transition: all 0.5s;
            &:hover {
                background-color: $font-purple-color;
                color: white;
                transition: all 0.5s;
            }
        }   
    }
}